body{
  background-image: url(/images/background-paper.png);
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.tera-container{
  max-width: 920px;
}

.tera-header{
  background-image: url(/images/eyecatch-bg.png);
  background-position: center center;
  height: 360px;
}


.episodes{
  margin: 0;
  background-color: #fff;
  position: inherit;
}

@media (min-width:768px){
  .episodes{
    margin: 50px 50px;    
  }
}


.episodes span.triangle{
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 95px 95px 0 0;
  border-color: #6d6c48 transparent transparent transparent;
  position: absolute;
}

.episodes span.number{
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-size: 25px; 
  font-style: italic; 
}

.episode{
/*   padding: 30px; */
  position: relative;
}

.episode h2{
  padding: 50px 30px 10px 70px;
}

.episode p{
  padding: 0px 30px 50px 70px;
}


